<main class="main">
  <h1>TTS System</h1>
  <div class="tabs">
    <a class="tab" routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="/generate-sound">Синтез голоса</a>
    <a class="tab" routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="/learn-model">Обучение модели</a>
    <a class="tab" routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="/publication">Публикации</a>
    <a class="tab" routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="/auth">Войти</a>
  </div>
  <div class="content">
    <router-outlet />
  </div>
</main>

